
*{
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    font-family: 'Noto Serif KR', serif;
}

.nav{
    margin:50px 0 100px 0;
}

.submit-btn{
    height: 40px;
    width: 80px;
    background-color: #00000020;
    color: #00000090;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 24px;
}

#MainLogo{
    padding: 200px;
    font-size: 50px;
    font-weight: bold;
}

.form{
    padding-top: 200px;
    margin: auto;
}
.form-btn{
    text-align: center;
    margin: 10px;
}

.card-btn {
    text-align: right
}
.card-btn-el{
    height: 30px;
    width: 60px;
    color: #00000090;
    font-size: 14px;
    border: none;
    margin: 0 5px;
}

  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }


.weekly-emo{
    margin: 100px;
    padding-bottom: 25px;
    text-align: center;
}

body{
    margin:0;
    padding:0;
}

.title {
    background-color:transparent;
    border: transparent;
	color:#00000080;
	font-size:28px;
	height:60px;
    width:1000px;
    margin-top: 30px;
    padding: 15px 0;
    
}
input:focus {outline:none;}
.content {
    
    border: none;
    background-color:transparent;
	color:#00000080;
	font-size:20px;
	height:400px;
    width:1000px;
    padding: 15px 0;
}
textarea:focus {outline:none;}

.post-btn{
    text-align: right;
    padding: 10px;
}

.emo-colors{
    top:40px;
    right: 40px;
}
.emotxt{
    margin-top: 200px;
}
.emo-color{
    width:30px;
    height: 30px;
    float: left;
    border-radius: 15px;
    text-indent: -9999px;
    margin: 5px;
    border: none;
}


#joy{
    background:#fff3ff;
}
#sad{
    background:#e9e9ff;
}
#surprise{
    background:#fffbe6;
}
#angry{
    background:#ffe6e6;
}
#happy{
    background:#ebfcec;
}
#annoy{
    background:#ffeddc;
}
#gloomy{
    background:#dfdcea;
}
#fear{
    background:#e0e0e0;
}



  
.posting{
    padding-top: 50px;
}  
.emo-collect{
    padding-top: 50px;
}

.daily-feeling{
    background-color: #8c68ee;
    width: 30px ;
    height: 100px;
    box-sizing: border-box;
    resize: none;
}

