<!DOCTYPE html>
<html>

<head>

    <!-- Webpage Title -->
    <title>Form</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/form_style.css">


    <script>
        ///버튼으로 할 때 쌓는 것///
        /*function emotion_sel(elem) {
            let emotion_txt = elem.value;
            if ($(this).prop)
                $("#emotxt").append(emotion_txt);
        }*/

        /*
                function listing() {
                    $.ajax({
                        type: "GET",
                        url: "memos",
                        data: {},
                        success: function (response) {
                            let memos = response['memos']
                            for (let i = 0; i < memos.length; i++) {
                                let memo = memos[i]
                                let title_el = memo['title']
                                let content_el = memo['content']
                                let emotion_el = memo['emo']
        
                            }
                        }
                    });
                }*/


        function submit() {

            let title = $('#title').val();
            let content = $('#content').val();
            let emo = $('#emo').val();

            if (title == '') {
                alert("제목을 입력해주세요");
                $('#title').focus();
                return;
            }
            else if (content == '') {
                alert("내용을 입력해주세요")
                $('#content').focus();
                return;
            }

            /*else {
                alert("입력 완료")
            }*/


            let data_give = {
                'title_give': title,
                'content_give': content,
                'emo_give': emo
            }

            $.ajax({
                type: "POST",
                url: "/memos",
                data: data_give,
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        $('#title').val('');
                        $('#content').val('');
                        $('#emo').val('');
                        window.location.reload();
                    }
                }
            })
        }


        ///원형버튼 배경 색 변경(작동o)///
        /*function changecolor(id) {
            document.body.style.background = document.getElementById(id).innerHTML;
        }*/
        ///



        function colorbg() { 
        let sel = document.getElementById('emo'); 
        let bgcolor = sel.options[sel.selectedIndex].value;
        if(bgcolor == "joy"){
            let bgCorlorCode = "#fff3ff";
        }
        document.body.style.backgroundColor = bgcolor;
 //   sel.style.backgroundColor = sel.value; 
    }



    </script>

</head>

<body>

    <nav class="nav navbar-expand navbar-light">
        <div class="collapse navbar-collapse" id="Logo">
            <a class="navbar-brand" href="index.html">감정 대숲</a>
            <ul class="navbar-nav mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="moodboard.html"><span>moodboard</span></a>
                </li>
            </ul>
            <p></p>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-info my-2 my-sm-0" href="form.html">새로 작성</button>
            </form>
        </div>
    </nav>


<div class ="form">
    <div class="emo-status">
        감정 상태 : <a id="emotxt"> </a>


        <select id="emo">
            <option value="">현재의 기분은?</option>
            <option class="joy" value="#fff3ff">즐거움</option>
            <option class="sad" value=#e9e9ff>슬픔</option>
            <option class="surprise" value=#fffbe6>놀람</option>
            <option class="happy" value=#ebfcec>행복</option>
            <option class="angry" value=#ffe6e6>분노</option>
            <option class="annoy" value=#ffeddc>짜증</option>
            <option class="gloomy" value=#dfdcea>우울</option>
            <option class="fear" value=#e0e0e0>두려움</option>
        </select>
        <button onclick="colorbg()" class=btn>선택하기</button>

    </div>


    <div class="title-editor">
        <input type="text" id="title" placeholder="제목을 입력해주세요." required>

        <p>
            <hr>
        </p>
    </div>
    <div class="contents-editor">

        <textarea id="content" cols="700" rows="20" style="border:none" placeholder="내용을 입력해주세요." required></textarea>

    </div>
    <div class="post-btn">
        <button onclick="submit()" type="sub" class="submit-btn">저장</button>
    </div>
</div>
</body>

</html>