<!DOCTYPE html>
<html>

<head>

    <!-- Webpage Title -->
    <title>Form</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/form_style.css">


    <script>

        function emotion_sel(elem) {
            /*let emotxt = $().val("#emotxt");
            if (emotxt == ''){
                $("#emotxt").remove();
                return;
            } */

            let emotion_txt = elem.value;
            if ($(this).prop)
                $("#emotxt").append(emotion_txt);
        }




        /*
                function listing() {
                    $.ajax({
                        type: "GET",
                        url: "memos",
                        data: {},
                        success: function (response) {
                            let memos = response['memos']
                            for (let i = 0; i < memos.length; i++) {
                                let memo = memos[i]
                                let title_el = memo['title']
                                let content_el = memo['content']
                                let emotion_el = memo['emo']
        
                            }
                        }
                    });
                }*/
        $(document).ready(function () {
            $(#).html();
        });


        function submit() {

            let title = $('.title').val();
            let content = $('.content').val();
            let emo = $('.emo').val();

            if (title == '') {
                alert("제목을 입력해주세요");
                $('.title').focus();
                return;
            }
            else if (content == '') {
                alert("내용을 입력해주세요")
                $('.content').focus();
                return;
            }
            
            /*else {
                alert("입력 완료")
            }*/


            let data_give = {
                'title_give': title,
                'content_give': content,
                'emo_give': emo
            }

            $.ajax({
                type: "POST",
                url: "/memos",
                data: data_give,
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        $('.title').val('');
                        $('.content').val(''); 
                        $('.emo').val('');
                        window.location.reload();
                    }
                }
            });

        }

        function changecolor(id) {
            document.body.style.background = document.getElementById(id).innerHTML;
        }

    </script>

</head>

<body>

    <nav class="nav navbar-expand navbar-light">
        <div class="collapse navbar-collapse" id="Logo">
            <a class="navbar-brand" href="index.html">감정 대숲</a>
            <ul class="navbar-nav mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="moodboard.html"><span>moodboard</span></a>
                </li>
            </ul>
            <p></p>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-info my-2 my-sm-0" href="form.html">새로 작성</button>
            </form>
        </div>
    </nav>



    <div class="emo-status">
        감정 상태 : <a id="emotxt"> </a>

        <div class="emo-colors" id="emo">
            <button class="emo-color" value="즐거움" onclick="changecolor('joy'); emotion_sel(this);"
                id="joy">#fff3ff</button>
            <button class="emo-color" value="슬픔" onclick="changecolor('sad'); emotion_sel(this);"
                id="sad">#e9e9ff</button>
            <button class="emo-color" value="놀람" onclick="changecolor('surprise'); emotion_sel(this);"
                id="surprise">#fffbe6</button>
            <button class="emo-color" value="행복" onclick="changecolor('happy'); emotion_sel(this);"
                id="happy">#ebfcec</button>
            <button class="emo-color" value="분노" onclick="changecolor('angry'); emotion_sel(this);"
                id="angry">#ffe6e6</button>
            <button class="emo-color" value="짜증" onclick="changecolor('annoy'); emotion_sel(this);"
                id="annoy">#ffeddc</button>
            <button class="emo-color" value="우울" onclick="changecolor('gloomy'); emotion_sel(this);"
                id="gloomy">#dfdcea</button>
            <button class="emo-color" value="두려움" onclick="changecolor('fear'); emotion_sel(this);"
                id="fear">#e0e0e0</button>
        </div>


    </div>


    <div class="title-editor">
        <input placeholder="제목을 입력해주세요." class="title" type="text">

        <p>
            <hr>
        </p>
    </div>
    <div class="contents-editor">

        <textarea placeholder="내용을 입력해주세요." class="content" cols="700" rows="20" style="border:none"></textarea>

    </div>
    <div class="post-btn">
        <button onclick="submit()" type="button" class="submit-btn">저장</button>
    </div>

</body>

</html>