<!DOCTYPE html>
<html>

<head>

    <!-- Webpage Title -->
    <title>Form</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/form_style.css">


    <script>
        ///버튼으로 할 때 쌓는 것///
        /*function emotion_sel(elem) {
            let emotion_txt = elem.value;
            if ($(this).prop)
                $("#emotxt").append(emotion_txt);
        }*/


        function submit() {

            let title = $('#title').val();
            let emo = $('#emo').val();
            let content = $('#content').val();

            if (emo == '') {
                alert("감정을 선택해주세요.");
                $('#title').focus();
                return;
            }else if (title == '') {
                alert("제목을 입력해주세요.")
                $('#title').focus();
                return;
            }else if (content == '') {
                alert("내용을 입력해주세요.")
                $('#content').focus();
            }

            /*else {
                alert("입력 완료")
            }*/


            let data_give = {
                'title_give': title,
                'emo_give': emo,
                'content_give': content    
            }

            $.ajax({
                type: "POST",
                url: "/memos",
                data: data_give,
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        $('#title').val('');
                        $('#emo').val('');
                        $('#content').val('');
                        window.location.reload();
                    }
                }
            })
        }


        ///원형버튼 배경 색 변경(작동o)///
        /*function changecolor(id) {
            document.body.style.background = document.getElementById(id).innerHTML;
        }*/
        ///



        function colorbg() {
            let sel = document.getElementById('emo');
            let bgcolor = sel.options[sel.selectedIndex].value;
            if (bgcolor == "즐거움") {
                document.body.style.backgroundColor = "#fff3ff";//bgcolor;
            } else if (bgcolor == "슬픔") {
                document.body.style.backgroundColor = "#e9e9ff";//bgcolor;
            } else if (bgcolor == "놀람") {
                document.body.style.backgroundColor = "#fffbe6";//bgcolor;
            } else if (bgcolor == "행복") {
                document.body.style.backgroundColor = "#ebfcec";//bgcolor;
            } else if (bgcolor == "분노") {
                document.body.style.backgroundColor = "#ffe6e6";//bgcolor;
            } else if (bgcolor == "짜증") {
                document.body.style.backgroundColor = "#ffeddc";//bgcolor;
            } else if (bgcolor == "우울") {
                document.body.style.backgroundColor = "#dfdcea";//bgcolor;
            } else if (bgcolor == "두려움") {
                document.body.style.backgroundColor = "#e0e0e0";//bgcolor;
            }
            document.body.style.backgroundColor = bgcolor;
            //   sel.style.backgroundColor = sel.value; 
        }



    </script>

</head>

<body>

    <nav class="nav navbar-expand navbar-light">
        <div class="collapse navbar-collapse" id="Logo">
            <a class="navbar-brand" href="{{ url_for('home') }}">감정 대숲</a>
            <ul class="navbar-nav mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('moodboard') }}"><span>moodboard</span></a>
                </li>
            </ul>
            <p></p>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-info my-2 my-sm-0" href="{{ url_for('form') }}">새로 작성</button>
            </form>
        </div>
    </nav>


    <div class="form">
        <div class="form-row align-items-center">
            감정 상태 :
            <select class="form-control form-control col-md-4" id="emo">
                <option value="">현재의 기분은?</option>
                <option class="joy" value="즐거움">즐거움</option>
                <option class="sad" value="슬픔">슬픔</option>
                <option class="surprise" value="놀람">놀람</option>
                <option class="happy" value="행복">행복</option>
                <option class="angry" value="분노">분노</option>
                <option class="annoy" value="짜증">짜증</option>
                <option class="gloomy" value="우울">우울</option>
                <option class="fear" value="두려움">두려움</option>
            </select>
            <button onclick="colorbg()" class=btn>선택하기</button>

        </div>


        <div class="title-editor">
            <input type="text" id="title" placeholder="제목을 입력해주세요." required>

            <p>
                <hr>
            </p>
        </div>
        <div class="contents-editor">

            <textarea id="content" cols="700" rows="20" style="border:none" placeholder="내용을 입력해주세요."
                required></textarea>

        </div>
        <div class="post-btn">
            <button onclick="submit()" class = "submit-btn" type="submit">저장</button>
        </div>
    </div>
</body>

</html>