<!doctype html>
<html lang="en">

<head>

    <!-- Webpage Title -->
    <title>Bamboo</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">

    <!----<link rel="stylesheet" href="style.css">---->
    <link rel="stylesheet" type="text/css" href="../static/style.css">



    <script>

        ///DB에서 불러와서 카드 박스에 얹기///
        $(document).ready(function () {
            $('#cards-box').html('');
            listing();
        });

        function listing() {
            $.ajax({
                type: "GET",
                url: "/memos",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        console.log(response['memos']);
                        let memos = response['memos'];
                        for (let i = 0; i < memos.length; i++) {
                            let memo = memos[i];
                            let title = memos['title'];
                            let emo = memos['emo'];
                            let content = memos['content'];                            
                            make_card(title, content);                            
                        }


                    } else {
                        alert('메모를 받아오지 못했습니다.')
                    }
                }
            })
        }


        function make_card(title, emo, content) {
            let memo_list =
                '<div class="card">\
                <div class="card-body">\
                    <h5 class="card-title"> '+ title + ' </h5>\
                    <h6 class="card-emo"> #'+emo+'</h6>\
                    <p class="card-text"> '+ content + ' </p>\
                    <div class="card-btn">\
                        <button onclick="del()" type="button" id="delete" class="card-btn-el">삭제</button>\
                    </div>\
                </div>\
            </div>';
            $('#cards-box').append(memo_list);
        }


        ///포스트 삭제 기능///
        function del() {


            $.ajax({
                type: "POST",
                url: "/",
                data: "data",
                dataType: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('삭제 완료!')
                        window.location.reload()
                    }
                }
            });


        }
    </script>

</head>


<body>

    <nav class="nav navbar-expand navbar-light">
        <div class="collapse navbar-collapse" id="Logo">
            <a class="navbar-brand" href="{{ url_for('home') }}">감정 대숲</a>
            <ul class="navbar-nav mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link dis" href="moodboard.html">moodboard</a>
                </li>
            </ul>
            <p></p>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-info my-2 my-sm-0" href="{{ url_for('form') }}">새로 작성</button>
            </form>
        </div>
    </nav>




    <div class="weekly-emo">
        <h1>최근 기분 상태는 "<a id>+ emo-color +</a> " 입니다.</h1>
    </div>


    <div class="row row-cols-1 row-cols-md-3" id="cards-box"></div>

</body>

</html>