<!doctype html>
<html lang="en">

<head>

    <!-- Webpage Title -->
    <title>Bamboo</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">

    <!----<link rel="stylesheet" href="style.css">---->
    <link rel="stylesheet" type="text/css" href="../static/style.css">



    <script>

        $(document).ready(function () {
            $('#card-box').html('');
            listing();
        });

        function listing() {
            $.ajax({
                type: "GET",
                url: "/memos",
                data: {},
                success: function (response) {
                    let memos = response['memos'];
                    for (let i = 0; i < memos.length; i++) {
                        make_card(memos[i]['title'], memos[i]['content'], memos[i]['emo']);
                    }
                }
            })
        }


        function make_card(title, content) {
            let memo_list =
                '<div class="card">\
                <div class="card-body">\
                    <h5 class="card-title"> '+ title + ' </h5>\
                    <p class="card-text"> '+ content + ' </p>\
                    <div class="card-btn">\
                        <button onclick="del()" type="button" id="delete" class="card-btn-el">삭제</button>\
                    </div>\
                </div>\
            </div>';
            $('#card-box').append(memo_list);
        }


        function del(title, content) {


            $.ajax({
                type: "POST",
                url: "/",
                data: "data",
                dataType: "dataType",
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('삭제 완료!')
                        window.location.reload()
                    }
                }
            });


        }
    </script>

</head>

<body>

    <nav class="nav navbar-expand navbar-light">
        <div class="collapse navbar-collapse" id="Logo">
            <a class="navbar-brand" href="home.html">감정 대숲</a>
            <ul class="navbar-nav mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link dis" href="moodboard.html">moodboard</a>
                </li>
            </ul>
            <p></p>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-info my-2 my-sm-0">새로 작성</button>
            </form>
        </div>
    </nav>




    <div class="weekly-emo">
        <h1>최근 기분 상태는 "<a id>+ emo-color +</a> " 입니다.</h1>
    </div>


    <div class="row row-cols-1 row-cols-md-3" id="cards-box">
        <div class="col mb">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">+ title + </h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="card-btn">
                        <button onclick="del()" type="button" id="delete" class="card-btn-el">삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col mb">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>